.App {
  text-align: left;
  position: relative;
  vertical-align: top;
}

.App-Header, 
.App-Gesture-Img-and-Description {
  background-color: #282c34;
  /*min-height: 100vh;*/
  align-content: center;
  justify-content: space-between;
  text-align: center;
  display: flex;
  /*flex-direction: column;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Header {
  text-align: center;
}

.App-Gesture-Img {
  height: 40vmin;
  pointer-events: none;
}

.App-Gesture-Img-and-Description p, 
.App-Gesture-Img {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.App-Gesture-Img-and-Description p {
  flex-wrap: wrap;
}
