.App {
  position: relative;
  vertical-align: top;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

p.App-Gesture-Img-and-Description {
  align-content: center;
  text-align: center;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-wrap: wrap;
}

img.App-Gesture-Img {
  height: 40vmin;
  pointer-events: none;
}
